h1,
h4,
h5 {
  text-align: center;
  font-weight: bold;
}

p {
  font-weight: bold
}

input[type=text] {
  width: 25%;
  padding: 12px 15px;
  margin: 8px 0px 15px 0px;
  box-sizing: border-box;
  border: 2px solid;
}

input[type=tel] {
  width: 25%;
  padding: 12px 15px;
  margin: 8px 0px;
  box-sizing: border-box;
  border: 2px solid;
}

.inline {
  display: inline;
}

.name_corp {
  padding: 10px 12px;
  margin: 8px 12px;
}

.shareholder_info {
  padding: 10px 12px;
  margin: 8px 12px;
}

.contact_person{
  padding: 10px 12px;
  margin: 8px 12px;
}
